<p>
  <b>Number of bananas:</b>
  <%=h @banana.number_of_bananas %>
</p>

<p>
  <b>When bought:</b>
  <%=h @banana.when_bought.strftime("%a, %b %d") %>
</p>

<p>
  <b>When brown:</b>
  <%=h @banana.when_brown.strftime("%a, %b %d") if @banana.when_brown != nil %>
</p>
<p> number brown <br />
<%= @banana.brown_bananas %>
</p>
<p>
  <b>User:</b>
  <%=h @banana.user.username if @banana.user %>
</p>


<%= link_to 'Edit', edit_banana_path(@banana) %> |
<%= link_to 'Back', bananas_path %>