
	
		<% numberBananasEaten = 0%>
		<% numberDaysUntilBrown = 0%>
		<% numberOfTrackers = 0%>
		<% totalEaten = 0 %>
		<% totalDaysUntilBrown = 0 %>
				
		<% for banana in @bananas %>
			<% if banana.user_id == session[:user_id] && banana.when_brown != nil %>
				<% numberBananasEaten = banana.number_of_bananas - banana.brown_bananas %>
				<% numberDaysUntilBrown = ((banana.when_brown - banana.when_bought) / 60 / 60 / 24).to_i  %>
				<% totalEaten = totalEaten + numberBananasEaten %>
				<% totalDaysUntilBrown = totalDaysUntilBrown + numberDaysUntilBrown %>
				<% numberOfTrackers = numberOfTrackers + 1 %>
			<% end %>
		<% end %>
		
		<% if totalEaten == 0 || totalDaysUntilBrown == 0 %>
			You will need to make a new <%= link_to("banana optimizer", :action => "new_tracker" )%> or finish updating an <%= link_to("existing one", :action => "turn_brown") %> in order to see some sort of analysis!
		<% else %>
			<h1> Interesting banana related info about yourself!</h1>
			<p> On average, you eat <%= totalEaten/totalDaysUntilBrown %> bananas per day! </p>
			<p> On average, your bananas turn brown after <%= totalDaysUntilBrown/numberOfTrackers %> days! </p>
			<h2> You should buy <%= totalEaten/totalDaysUntilBrown * totalDaysUntilBrown/numberOfTrackers %> bananas every <%= totalDaysUntilBrown/numberOfTrackers %> days!</h2>
		<% end %>
		
		<h3> Past banana optimization trackers: </h3>
		<p>
			<table>
				<tr>
				    <th>Number of bananas | </th>
				    <th>When bought | </th>
				    <th>When brown | </th>
				    
				  </tr>
			<% @bananas.each do |ban| %>
			  <% if ban.user_id == session[:user_id] %>
				  <tr>
				    <td><%=h ban.number_of_bananas %> | </td>
				    <td>| <%=h ban.when_bought.strftime("%a, %b %d") %> | </td>
				    <td><%=h ban.when_brown.strftime("%a, %b %d") %> | </td>
				    
				    <td><%= link_to("Delete", {:controller => "public", :action => "delete", :id => ban.id}, :confirm => "Are you for serious?") %> </td> 
				 </tr> 
				 
			  
			  <% end %>
			 <% end %>
			  
			 </table>
			 
		</p>

