<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Banana Optimizer: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
<link rel="Shortcut Icon" href="../images/favicon.ico" /> 
<link rel="Bookmark" href="../images/favicon.ico" /> 
<link rel="image_src" type="image/jpeg" href="http://www.someicons.com/desktop-icons-games/donkey-kong-msl/Banana.gif" />

<meta name="keywords" content="banana optimizer, bananas, banana" /> 
    <meta name="description" content="Banana Optimization for the rest of us.®" /> 
    <meta name="abstract" content="Banana Optimization for the rest of us.®" /> 
    <meta name="robots" content="index,follow" /> 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16747345-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<p style="text-align:right" >
<% if session[:user_name] %>
	hallo! <%= session[:user_name] %>
<% end -%>	
<% if session[:user_id] -%>	
 | <%= link_to('log out', {:controller => 'public', :action => 'logout'}, :class => "footercolor" )%> |  
<% else -%>
 | <%= link_to('sign up!', {:controller => 'public', :action => 'new_user'}, :class => "footercolor" )%> | <%= link_to('log in', {:controller => 'public', :action => 'login'}, :class => "footercolor" )%> | 
<% end -%> 
| <%= link_to("Home", {:controller => 'public', :action => 'index'}, :class => "footercolor" )%> |
</p>

<%= link_to( image_tag("../images/banana-logo.png", :border=>0), :action => "index") %>

<div id="linkbar" >
<p style="font-weight:bolder; position:relative; top:1px; font-size:1.2em"> <strong> | <%= link_to("MAKE NEW OPTIMIZER", {:action => "new_tracker"}, :class => "linkcolor") %> | <%= link_to("FINISH OPTIMIZATION IN PROGRESS", {:action => "turn_brown"}, :class => "linkcolor" )%> | <%= link_to("VIEW BANANA ANALYSIS", {:action => "analysis"}, :class => "linkcolor")%> | </strong></p>
</div>
<p style="color: green"><%= notice %></p>

<div id="maintext">

<%= yield %>

</div>
<div style="font-weight:bold; position:fixed; bottom:0px; left:1em; width:100%; background-color:white; height:4em; font-size:1em "> <hr /> | <%= link_to("FAQ", {:action => "faq"}, :class => "footercolor") %> | <%= link_to("The Open Banana Optimizer Foundation", {:action => "foundation"}, :class => "footercolor")%> | <br />   </div>
</body>
</html>